<div class="modal fade" id="versionModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title"><span id="versionTitle"></span><@spring.message code="user.userType.2"/></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="versionfrm" enctype="multipart/form-data">
					<input type="hidden" id="version_id" name="id"/>
					<div class="form-group">
						<label class="col-sm-2 control-label">手机系统:</label>
						<div class="col-sm-6">
							<input type="text" id="version_osType" name="osType" class="col-sm-9">
						</div>
					</div>

					<div class="form-group" >
						<label class="col-sm-2 control-label">版本号:</label>
						<div class="col-sm-6">
							<input type="text" id="version_num" name="version" class="col-sm-9">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-left" onclick="versionModalHide()"><i class='ace-icon glyphicon glyphicon-remove'></i><@spring.message code="button.close"/></button>
				<button class="btn btn-sm btn-primary" onclick="saveVersion()"><i class='ace-icon fa fa-floppy-o'></i><@spring.message code="button.save"/></button>
			</div>
		</div>
	</div>
</div>
