<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.news.mapper.UserMapper">

	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user(login_name
		<if test="nickname!=null and nickname!=''">
			,nickname
		</if>
        <if test="phone!=null and phone!=''">
            ,phone
        </if>
		<if test="address!=null and address!=''">
			,address
		</if>
		)
		VALUES(#{loginName}
		 <if test="nickname!=null and nickname!=''">
		    ,#{nickname}
	     </if>
        <if test="phone!=null and phone!=''">
            ,#{phone}
        </if>
		<if test="address!=null and address!=''">
			,#{address}
		</if>
		)
	</insert>
	
	<update id="update" parameterType="User">
		UPDATE user
		<set>
			update_time = now()
			<if test="nickname!=null and nickname!=''">
				,nickname=#{nickname}
			</if>
			<if test="address!=null">
				,address=#{address}
			</if>
			<if test="phone!=null">
				,phone=#{phone}
			</if>

		</set>
		WHERE id=#{id}
	</update>


	<select id="findById" resultMap="UserMap">
		SELECT * FROM user WHERE id=#{id} limit 1
	</select>


	<select id="findUserByLoginNameAndPWD" resultMap="UserMap" parameterType="Map">
		SELECT id,nickname,address,phone,create_time FROM user WHERE login_name=#{loginName} and password=#{password} limit 1
	</select>

	<select id="findUserByLoginName" resultMap="UserMap" parameterType="String">
		SELECT * FROM user WHERE login_name=#{loginName} limit 1
	</select>

    <select id="findUserByPhone" resultMap="UserMap" parameterType="String">
        SELECT * FROM user WHERE phone=#{phone} limit 1
    </select>



    <select id="findUserList" resultMap="UserMap" parameterType="Map">
        SELECT * FROM user WHERE 1=1
        order by create_time desc
        <if test="page!=null and page!=''">
            limit #{page.start}, #{page.pageSize}
        </if>
    </select>


    <select id="findUserCount" resultType="int" parameterType="Map">
        SELECT count(id) FROM user
    </select>

	<resultMap type="User" id="UserMap">
		<result column="id" property="id"/>
		<result column="nickname" property="nickname"/>
		<result column="address" property="address"/>
		<result column="phone" property="phone"/>
		<result column="create_time" property="createTime"/>
		<result column="login_name" property="loginName"/>
	</resultMap>
	
</mapper>
