<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/aceui/css/bootstrap.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/font-awesome/4.6.1/css/font-awesome.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/jqGrid/ui.jqgrid.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/aceui/css/ace.min.css" id="main-ace-style"/>
<link rel="stylesheet" href="${rootPath}/resource/plugin/aceui/css/ace-rtl.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/aceui/css/ace-fonts.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/aceui/css/ace-skins.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/gritter/jquery.gritter.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/select/css/bootstrap-select.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/zTree/css/zTreeStyle/zTreeStyle.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/datetimepicker/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/fileinput/css/fileinput.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/fileinput/themes/explorer-fa/theme.min.css" />
<link rel="stylesheet" href="${rootPath}/resource/plugin/colorbox/css/colorbox.css" />
<link rel="stylesheet" href="${rootPath}/resource/css/ace-ext.css" />
<title>WeShow CMS</title>