<!DOCTYPE html>
<html>
<head>
<#include 'common/common_css.html'/>
</head>
<body class="no-skin">
<div class="main-content">
	<div class="main-content-inner">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-sm btn-success" id="sysMenuAdd"><i class="ace-icon glyphicon glyphicon-plus"></i>新增</button>
					<button class="btn btn-sm btn-primary" id="sysMenuEdit"><i class="ace-icon fa fa-pencil-square-o"></i>编辑</button>
					<button class="btn btn-sm btn-danger" id="sysMenuDelete"><i class="ace-icon fa fa-trash-o"></i>删除</button>
					<div class="input-group input-group-right">
						<input type="text" class="form-control search-query" placeholder="请输入查询条件">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-purple"><i class="ace-icon fa fa-search"></i>查询</button>
						</span>
					</div>
				</div>
				<div class="col-xs-12">
					<table id="sysMenuGrid"></table>
					<div id="sysMenuGridPager"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<#include 'sysMenu/sysMenuAdd.html'/>
<#include 'sysMenu/sysMenuEdit.html'/>
<#include 'common/common_js.html'/>
<script type="text/javascript" src="${rootPath}/resource/biz/sysMenu.js"></script>
</body>
</html> 