<!DOCTYPE html>
<html>
<head>
<#include 'common/common_css.html'/>
</head>
<body class="no-skin">
<div class="main-content">
	<div class="main-content-inner">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<table id="userGrid"></table>
					<div id="userGridPager"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<#include 'common/common_js.html'/>
<!--<#include 'user/userDiv.html'/>-->
<script type="text/javascript" src="${rootPath}/resource/biz/common.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#userGrid").jqGrid({
		url : contextPath + '/cms/user/query',
		datatype: "json",
		colModel:[
			// {name:'operat',label:'<@spring.message code="grid.operat"/>',width:80,sortable:false,formatter:formatOperat},
		    {name:'loginName',label:'登录账号',width:50,sortable:false},
		    {name:'nickname',label:'昵称',width:100,sortable:false},
		    {name:'address',label:'联系地址',width:120,sortable:false},
		    {name:'phone',label:'手机号',width:50,sortable:false},
		    {name:'createTime',index:'createTime',label:'创建时间',width:100,formatter:formatCreateTime},
		    {name:'id',hidden:true}
		],
		viewrecords : true,
		sortname : 'createTime',
	    sortorder : "desc",
		pager : "#userGridPager",
		altRows: true,
		rownumbers : true,
		rowNum: 15,
		autoScroll: true,
		toolbar:[true,"top"],
		loadComplete : function() {
			var table = this;
			setTimeout(function(){
				styleGridPager(table);
			}, 0);
		},
	});
	
	styleGridResize("#userGrid");
})

function formatCreateTime(cellValue, options, rowObject){
    var crtTime = new Date(rowObject.createTime);
    return dateFtt("yyyy-MM-dd hh:mm:ss",crtTime);
}

</script>
</body>
</html> 