<div class="modal fade" id="itemEditModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title"><@spring.message code="button.edit"/><@spring.message code="item"/></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="itemEditfrm" enctype="multipart/form-data">
					<input type="hidden" id="itemEdit_key"/>
					<input type="hidden" id="itemEdit_thumbUrl"/>
					<div class="input-group col-md-12">
                        <div class="form_label col-md-4">
	                        <label for=""><@spring.message code="item.media.preview"/></label>
	                    </div>
	                    <div class="form-group">
	                        <div id="itemEdit_videoDiv" style="width:100%;margin:0 auto;text-align: center;">
	                        </div>
	                    </div>
                    </div>
                    <div class="form-group">
						<label class="col-sm-2 control-label"><@spring.message code="item.media.thumb"/>:</label>
						<div class="col-sm-8">
							<div id="itemEdit_imgDiv"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><@spring.message code="item.media.width"/>:</label>
						<div class="col-sm-4">
							<input id="itemEdit_mediaWidth" type="text"class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><@spring.message code="item.media.height"/>:</label>
						<div class="col-sm-4">
							<input id="itemEdit_mediaHeight" type="text"class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><@spring.message code="item.description"/>:</label>
						<div class="col-sm-9">
							<textarea id="itemEdit_description" class="col-sm-9"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-left" onclick="itemEditModalHide()"><i class='ace-icon glyphicon glyphicon-remove'></i><@spring.message code="button.close"/></button>
				<button class="btn btn-sm btn-primary" id="itemEditModalSave"><i class='ace-icon fa fa-floppy-o'></i><@spring.message code="button.save"/></button>
			</div>
		</div>
	</div>
</div>

